<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Document</title>
    <link rel="stylesheet" href="{{public('common.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"/>  
</head>
<body>
    <div class="background-register"> 
        <div class="register-modal">
            <div class="register-logo">
                <a href="#"><img src="New Project (14).png" alt="" width="120px"></a>
            </div>  
            <h3>Create your account</h3>
            <form action="" class="register-form">
                <div>
                    <label for="">Full name</label>
                    <input type="text" placeholder="" >
                </div>
                <div>
                    <label for="">Email Address</label>
                    <input type="email" placeholder="" >
                </div>
                <div>
                    <label for="">Full name</label>
                    <input type="number" placeholder="" >
                </div>
                <div class="register-btn">
                    <button type="submit">Register</button>
                </div>
            
          </form>
        </div>
    </div>
</body>
</html>