<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Document</title>
    <link rel="stylesheet" href="/common.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"/>  
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" integrity="sha256-xNjb53/rY+WmG+4L6tTl9m6PpqknWZvRt0rO1SRnJzw=" crossorigin="anonymous"></script>
</head>
<body>
    <div class="background-documents"> 
        <div class="register-modal">
            <div class="register-logo">
                <a href="#"><img src="./New Project (14).png" alt="" width="120px"></a>
            </div>  
            <h3>Submit your documents</h3>
            <form action="" class="document-form">
                <p>Which is your highest qualification?</p>
                <div class="radio-documents row">
                <div class="col-sm-6">
                    <input type="radio" name="qualification" value="Grade 10">
                    <label>Grade 10</label>
                </div>
                <div class="col-sm-6">
                    <input type="radio" name="qualification" value="Grade 10">
                    <label>Certificate 3 or 4</label>
                </div>
                <div class="col-sm-6">
                    <input type="radio" name="qualification" value="Grade 10">
                    <label>Certificate 3 or 4</label>
                </div>
                <div class="col-sm-6">
                    <input type="radio" name="qualification" value="Grade 10">
                    <label>Certificate 3 or 4</label>
                </div>
                <div class="col-sm-6">
                    <input type="radio" name="qualification" value="Grade 10">
                    <label>Certificate 3 or 4</label>
                </div>
                </div>
                <div class="upload-ps">
                    <input style="display:none" type="file" id="my-file">
                    <button type="button" onclick="document.getElementById('my-file').click()">Upload your passport size ID image</button>
                </div>
                <div class="upload-ps">
                    <input style="display:none" type="file" id="my-file-hq">
                    <button type="button" onclick="document.getElementById('my-file-hq').click()">Upload your highest qualification</button>
                </div>
                <div class="upload-ps">
                    <input style="display:none" type="file" id="my-file-toc">
                    <button type="button" onclick="document.getElementById('my-file-toc').click()">Upload Transcripts or Course Synopsis ( for qualification higher than Grade 12)</button>
                </div>
                
                    
                
                <div class="documents-btn">
                    <button type="submit">Submit</button>
                </div>
          </form>
        </div>
    </div>
</body>
</html>